<h1>Account Home</h1>

<ol id="account_menu">
  <li><%= link_to 'Start New Application', new_insurance_application_path %></li>
  <li><%= link_to 'View Application Status', envelopes_path %></li>
  <li><%= link_to 'Log Out', login_path, :method => :delete %></li>
</ol>