<h1>Template</h1>

<p>In order to continue, an Insurance Form template must be uploaded into your account.</p>

<p class="separator">
  <%= link_to "Continue", template_path, :method => :post %> |
  <%= link_to "Cancel", root_path %>
</p>