body {
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    margin:0 0 0 0;
    padding:0 0 0 34px;
    font-size:1.5em;
}
h1 {
    margin:20px 0 0 0;
    display:block; 
    font-size:2.5em; 
    text-align:left; 
    font-weight:bold;
}
h2 {
    margin:20px 0 3px 0;
    display:block; 
    font-size:1.5em; 
    font-weight:bold;
}
p {
    font-size:1em;
    margin:10px 0 0 0;
}
.linkButton {
    background:inherit;
    cursor:pointer;
    font-weight:bold;
    font-size:1.5em;
    color:#686868;
    border-bottom:solid;
    border-width:0 0 thin 0;
}
.greenButton {
    color:#FFFFFF;
    border-size:0;
    border-style:none;
    background-color:#0D6D40;
    font-weight:bold;
    font-size:1.5em;
    border-color:#686868;
    text-decoration:none;
    float:left;
    cursor:pointer;
}
.textBox {
    padding-top:0;
    padding-bottom:0;
    font-size:1.5em;
    width:600px;
}

.nameRes {
    font-size:1.5em;
}
.checkBox {
    width:24px;
    height:24px;
}
.radioButton {
/*    width:24px;
    height:24px; */
}
.error {
    color:red;
    margin-left:16px;
}
td.left {
    padding-right:1em;
    border-right:solid;
    border-width:thin;
}
td.right {
    padding-left:1em;
}
table.top {
    padding-top:20px;
}

