<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>#springMessage("app.title")</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<script type="text/javascript" src="static/scripts/jquery-1.4.1.min.js"></script>
        <script type="text/javascript" src="static/scripts/webservice-status.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>

	<body>
		<div class="header">
			<div style="float:left;">
				<img src="static/images/logo.png" alt="#springMessage('logo.alternateText')" />
			</div>
			<div class="userBox">
				<table cellspacing="0" border="0">
                    <tr style="border-bottom: 2px; solid #000000">
                        <td>Username:</td>
                        <td>$model.user.userName</td>
                        <td>Account:</td>
                        <td>$model.user.accountName</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            <img id="ws3_0_img" src="static/images/spinner.gif" /><span style="font-size: 0.75em;">(WS3_0 webservice)</span>
                            <img id="credential_img" src="static/images/spinner.gif" /><span style="font-size: 0.75em;">(Credential webservice)</span>
                            <a href="logDump.html" target="_blank"><img src="static/images/script.png" style="border: 0px;" /><span style="font-size: 0.75em;">View InsuranceCo Event Log</span></a>
                        </td>
                    </tr>
                </table>
			</div>
		</div>
	
		<div class="gutter"></div>
	
		<div class="sidebar">
			<h1>#springMessage("menu.offerMsg")</h1>
	
			<div id="navcontainer">
				<ul id="navlist">
					<li><a href="#springUrl("/index.html")">#springMessage("menu.products")</a></li>
					<li><a href="#springUrl("/home.html")">#springMessage("menu.myAccount")</a></li>
					<li><a href="#springUrl("/autoAppStatus.html")">&nbsp;&nbsp;- #springMessage("menu.subitem.status")</a></li>
					<li><a href="#springUrl("/logout")">&nbsp;&nbsp;- #springMessage("menu.subitem.logout")</a></li>
				</ul>
			</div>
		</div>
		
		<div>
			<span class="col1">
				<h1>#springMessage("autoAppComplete.header")</h1>
				
				<span>
					#springMessage("autoAppComplete.signStatus")&nbsp;&nbsp;
					#springMessage($model.statusMessageKey)
				</span>
			</span>
		</div>
	
		<div class="footer">
			#springMessage("standard.footer")
		</div>
	</body>
</html>