<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="ramp_logo.png"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="77c28381-5ff4-481f-852c-eb9f8653270d"/>
    <add key="FarmFeatureId" value=""/>
    <add key="SolutionFile" value="DocuSignSignature_SourceCode.wsp"/>
    <add key="SolutionTitle" value="DocuSignSignature"/>
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>